/* --- colors --- */
:root {
    /* --- Primary colors --- */
    --orange: #f2efea;
    --navyblue: #386082;
    --black: #000000;
    --grey: #BEBCB6;
    --white: #FFFFFF;
    /* --- Seciondary colors --- */
    --blue: #40407F;
    --olive: #7F7F40;
    --terracotta: #7F4040;
    --purple: #7F407F;
    --green: #407F6A;
    /* --- Light colors --- */
    --light-blue: #ADD2F1;
    --light-skin: #F2D7D4;
    --light-red: #F09080;
    --light-green: #72BA83;
    --light-yellow: #FCEDA2;

    /* --- Background broken white --- */
    --back-white: #ECEFF2;
}

/* --- fonts --- */

@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:wght@300;400;600;700&display=swap');

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Aleo', sans-serif;
}

h1 {
    font-size: 4vw;
    line-height: 100%;
}

h2 {
    font-size: 3vw;
    line-height: 100%;
}

h3 {
    font-size: 2vw;
    line-height: 100%;
}

h4 {
    font-size: 1.2vw;
    line-height: 100%;
}

p {
    font-family: 'Open sans', sans-serif;
}


body {
    margin: 0;
    background-color: var(--back-white);
}

header {
    background-color: var(--white);
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

#header_content {
    height: 5vw;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: %;
}

.logo {
    width: 20%;
}

.header_nav ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    width: 45vw;
    justify-content: space-between;
}

#icons {
    width: 15vw;
    display: flex;
    justify-content: space-between;
}

#icons img {
    width: 2.5vw;
}

/* --- Main categories --- */

#main_categories {
    margin: 2% 5% 0% 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    grid-gap: 2vw;
}

.main_category_container {
    position: relative;
    /*overflow: hidden;*/
    width: 100%;
    padding-top: 130%;
    border-radius: 6% 2% 6% 0%;
    background-color: orangered;
    overflow: hidden;
}

.main_category_container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.color_filter {
    position: absolute;
    top: 0;
    left: 0;
    height: 130%;
    width: 100%;
    opacity: 0.5;
    transition: 0.3s;
}

.color_filter:hover {
    opacity: 1;
}

.main_category {
    top: 0;
    left: 0;
    padding-top: 25%;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    height: 130%;
    position: absolute;
    overflow: hidden;
    pointer-events: none;
    color: var(--white);
}

.main_category p {

}

/* body {
    margin: 0px;
    background-color: var(--back-white);
    display: grid;
    grid-template-columns: 2% 10% 38% 48% 2%;
    grid-template-areas:
        ". hd hd na ."
        ". as ma ma ."
        ". ft ft sa .";
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 4.5vw;
}
*/
