/* --- colors --- */
:root {
    /* --- Primary colors --- */
    --orange: #FF9632;
    --navyblue: #386082;
    --black: #1C1C1B;
    --grey: #BEBCB6;
    --white: #FFFFFF;
    /* --- Seciondary colors --- */
    --blue: #40407F;
    --olive: #7F7F40;
    --terracotta: #7F4040;
    --purple: #7F407F;
    --green: #407F6A;
    /* --- Light colors --- */
    --light-blue: #ADD2F1;
    --light-skin: #F2D7D4;
    --light-red: #F09080;
    --light-green: #72BA83;
    --light-yellow: #FCEDA2;

    /* --- Background broken white --- */
    --back-white: #ECEFF2;
}

html {
    scroll-behavior: smooth;
}

/* --- fonts --- */

@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:wght@300;400;600;700&display=swap');

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    font-family: 'Aleo', sans-serif;
}

h1 {
    font-size: 4vw;
    line-height: 100%;
}

h2 {
    font-size: 3vw;
    line-height: 100%;
}

h3 {
    font-size: 1.5rem;
    line-height: 100%;
}

h4 {
    font-size: 1rem;
    line-height: 100%;
}

h5 {
    font-family: 'Open sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 150%;
}

p {
    font-family: 'Open sans', sans-serif;
}

a {
    cursor: pointer;
}

body {
    margin: 0;
    background-color: var(--back-white);
    overflow-x: hidden;
}

header {
    background-color: var(--white);
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

#header_content {
    height: 5vw;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 20%;
}

.header_nav ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    width: 45vw;
    justify-content: space-between;
}

#icons {
    width: 15vw;
    display: flex;
    justify-content: space-between;
}

#icons img {
    width: 2.5vw;
}

/* --- Main categories --- */

main {
    position: relative;
}

.color_bar {
    position: absolute;
    top: 5vh;
    z-index: -1;
    height: 50vh;
    width: 100%;
    background-color: var(--orange);
    opacity: 0.7;
}

.whats_new {
    grid-column: 1/-1;
    width: 60%;
    background-color: var(--navyblue);
    color: var(--white);
    margin-bottom: 1%;
    border-radius: 20px 8px 20px 0;
    padding: 2rem 2.5rem 2rem 2.5rem;
    box-shadow: 8px -6px 8px -2px rgba(0, 0, 0, 0.22);
}

.whats_new h2 {
    margin: 0;
}

#main_categories {
    margin: 3% 5% 0% 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    grid-gap: 2vw;
}

.main_category_container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 130%;
    border-radius: 20px 8px 20px 0;
    overflow: hidden;
    box-shadow: 8px -6px 8px -2px rgba(0, 0, 0, 0.22);
}

.main_category_container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.color_filter {
    position: absolute;
    top: 0;
    left: 0;
    height: 130%;
    width: 100%;
    opacity: 0.5;
    transition: 0.3s;
}

.color_filter:hover {
    opacity: 1;
}

.main_category {
    top: 0;
    left: 0;
    padding: 35% 1rem 0 1rem;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    pointer-events: none;
    color: var(--white);
}

/* --- Sub categories --- */

.sub_categories {
    margin: 3% 5% 0% 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    grid-gap: 2vw;
}

.sublink {
    text-decoration: none;

}

.sub_category {
    width: 100%;
    border-radius: 20px 8px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub_category h3 {
    font-size: 1.3rem;
    color: var(--white);
    font-weight: 400;
    margin: 0;
    padding: 6% 10% 6% 10%;
}

/* --- Article and situations --- */

.situation_container {
    width: 60%;
    margin: 3% 5% 0% 5%;
}


.has_image {
    width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 2vw;
}

.situation_container img {
    height: 100%;
    border-radius: 20px 8px 20px 0;
    box-shadow: 8px -6px 8px -2px rgba(0, 0, 0, 0.22);
}

.situation {
    border-radius: 20px 8px 20px 0;
    color: var(--white);
    padding: 0rem 2.5rem 2rem 2.5rem;
    box-shadow: 8px -6px 8px -2px rgba(0, 0, 0, 0.22);
}

.situation_container:nth-child(even) .situation {
    background-color: var(--navyblue);
}

.situation_container:nth-child(odd) .situation {
    background-color: var(--white);
    color: var(--black);
}

.button {
    background-color: var(--orange);
    width: 60%;
    border-radius: 20px 0px 20px 20px;
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: 'Open sans', sans-serif;
    color: var(--white);
    font-weight: 700;
    box-shadow: 5px -2px 8px -2px rgba(0, 0, 0, 0.22);
}

.button a {
    text-decoration: none;
    font-family: 'Open sans', sans-serif;
    color: var(--white);
    font-weight: 700;
}

.situation h2 {
    margin: 0;
    padding-top: 2rem;
}

.not_first_header {
    font-family: 'Open sans', sans-serif;
    font-size: 2vw;
}

.situation h5 {
    margin: 0;
    padding: 2rem 0rem 1rem 0rem;
}

.b_on_w {
    background-color: var(--white);
    color: var(--black);
}

footer img {
    margin-top: 15%;
    width: 100%;
}
